*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: "helvetica neue", "Microsoft YaHei", arial, sans-serif;
}

a{
    text-decoration: none;
    color: #2ea5ff;
    cursor: pointer;
}
#header{
    height:80px;
    background: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;

    #logo_title{
        color:#2ea5ff;
        display: inline-block;
        font-weight: lighter;
        font-size:40px;
        margin-top:15px;
        margin-left:40px;
    }

    #user_info{
        float:right;
    }
    #user_info a{
       line-height: 80px;
        margin-right:20px;
    }
    #exit{
        color:#999;
    }
}

#containers{
    min-width: 800px;
    position: relative;

    #nav{
        width:200px;
        background: rgb(249,249,249);
        height: 800px;
        font-size:14px;

        dl{
            color: #666;
            .iconfont{
                color:#666;
                margin-right:10px;
            }
            .nav{
                line-height:52px;
                padding-left:20px;
                background: #FFF;
                color: #666;
                font-size:15px;
                &.active{
                    color:#2ea5ff;
                    .iconfont{
                        color:#2ea5ff;
                    }
                }
            }
            .subnav{
                margin-bottom: 5px;
                ul li {
                    list-style-type: none;
                    transition:color 1s;
                    cursor: pointer;
                    a{
                        padding-left:50px;
                        display: block;
                        line-height: 46px;
                        text-decoration: none;
                        color: #666;
                        &:hover,&.active{
                            color:#ff6601;
                        }
                    }
                }
            }
        }
    }
    #contents{
        position: absolute;
        top:0;
        left:200px;
        right:0;
        height: 800px;
        background: #eee;
        min-width:800px;
        padding:20px;


        #page_list,#page_add{
            position: absolute;
            left:20px;
            right:20px;
            z-index: 1;
        }

        #page_add{
            z-index: -1;
            background: #FFF;
            padding: 50px;
            #bClose{
                position: absolute;
                right:20px;
                top:20px;
            }
        }
    }
}


/* 表单样式 */
input,
textarea,
select{
    outline: none;
}

.minput{
    width:200px;
    height:36px;
    border:1px solid #D4D4D4;
    
    padding-left: 5px;
    font-size:12px;
    border-radius: 2px;
    margin-right:20px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.form_line{
    margin-bottom: 30px;

    label{
        display: inline-block;
        width: 130px;
        color: #999;
        font-size: 14px;
    }
}

/* 搜索样式 */
.search_section{
    margin-bottom: 20px;
    width:100%;
    font-size:12px;
    background-color: #fff;
    padding:20px;
}

.search_section .search_item{
    margin-right: 20px;
    display: inline-block;
}

#bSearch,#bAdd{
    display: inline-block;
    width:80px;
    text-align: center;
    line-height: 36px;
    background-color: #2ea5ff;
    color:#fff;
    border:none;
    cursor: pointer;
    border-radius: 2px;
}

/* 搜索样式 */

.mbtn{
    display: inline-block;
    width:80px;
    text-align: center;
    line-height: 36px;
    background-color: #2ea5ff;
    color:#fff;
    border:none;
    cursor: pointer;
    border-radius: 2px;
}
.obtn{
    background: #e86565;
}

.smobtn{
    display: inline-block;
    text-align: center;
    color:#999;
    border:1px solid #999;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 2px;
    font-size:12px;
    &:hover{
        color:#2ea5ff;
        border-color:#2ea5ff;
    }
}
/* 表格样式 */

table.table {
    background-color: #fff;
    width:100%;
    border-collapse: collapse;
}

table.table th{
    font-weight: normal;
    color: #666;
    font-size: 15px;
    height: 50px;
    text-align: left;
}
table.table tr{
    height: 48px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    /*transition:background-color 1s;*/
}

table.table tr th,
table.table tr td{
    padding-left: 8px;
}

table.table tbody tr:hover{
    background-color: #FAFAFA;
}


.table_window{

}
.table_window tr{
    height: 52px;
}
.table_window tr td{
    font-size:14px;
    min-width: 80px;
}


/*分页信息*/
#pagination{
    margin-top:20px;
    background-color: #fff;
    padding:10px;

    .nodata{
        height: 100px;
        line-height: 100px;
    }
}
