<link rel="stylesheet" href="/lib/codemirror-5.17.0/lib/codemirror.css" />
<link rel="stylesheet" href="/lib/codemirror-5.17.0/theme/monokai.css">
<link rel="stylesheet" type="text/css" href="/lib/codemirror-5.17.0/addon/hint/show-hint.css">
<link rel="stylesheet" type="text/css" href="/lib/codemirror-5.17.0/addon/scroll/simplescrollbars.css">
<link href="/css/index.css" rel="stylesheet" />
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1472792295_7034924.css">
<script type="text/javascript" src="/lib/jquery.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/lib/codemirror.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/mode/css/css.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/mode/xml/xml.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/hint/javascript-hint.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/hint/css-hint.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/hint/xml-hint.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/hint/html-hint.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/emmet/emmet.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="/lib/codemirror-5.17.0/addon/scroll/simplescrollbars.js"></script>
<script src="/lib/require.js"></script>
<script src="/lib/require_config.js?v=2"></script>
<header id="header" class="">
    <img src="/img/logo.png" height="32" width="32" alt="" id="logo">
    <nav id="header_menu">
        <ul>
            <li>
                <a id="btn_run">
                    <span class="iconfont icon-play"></span>
                    <span class="word">运行</span>
                </a>
            </li>
            <li>
                <a id="btn_save">
                    <span class="iconfont icon-save"></span>
                    <span class="word">保存</span>
                </a>
            </li>
            <li>
                <a id="btn_fork">
                    <span class="iconfont icon-codefork"></span>
                    <span class="word">Fork</span>
                </a>
            </li>
            <li>
                <a id="btn_new">
                    <span class="iconfont icon-yoaxinzeng"></span>
                    <span class="word">新建</span>
                </a>
            </li>
            <li>
                <a id="btn_source">
                    <span class="iconfont icon-yoaxinzeng"></span>
                    <span class="word">资源</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="switcher">
        <span class="win_switcher active">HTML</span>
        <span class="win_switcher active">CSS</span>
        <span class="win_switcher active">JS</span>
        <span class="win_switcher active">OUTPUT</span>
    </div>
    <div id="realtime">
        实时预览
    </div>
    <div id="user_area">
         
    </div>
    <!-- <span id="cur_user">{{session.uuid}}</span> -->
</header>
<!-- /header -->
<div id="container">
    <div id="sidebar">
    </div>
    <div id="box">
        <fieldset class="column left">
            <div class="window top" id="win_html">
                <a class="bage bage_html">HTML</a>
                <div id="code_html"></div>
            </div>
            <div class="handlebar horizontal" id="bar01"></div>
            <div class="window bottom">
                <a class="bage bage_js">JAVASCRIPT</a>
                <div id="code_javascript"></div>
            </div>
        </fieldset>
        <div class="handlebar vertial" id="bar02"></div>
        <fieldset class="column right">
            <div class="window top">
                <a class="bage bage_css">CSS</a>
                <div id="code_css"></div>
            </div>
            <div class="handlebar horizontal" id="bar03"></div>
            <div class="window bottom">
                <a class="bage bage_output">OUTPUT</a>
                <div id="iframe_layer"></div>
                <div id="output_wrapper">
                    <iframe id="output" name="output" frameborder="0" width="100%" height="100%"></iframe>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- 新建代码 -->
<div class="mywindow" id="win_add_file">
    <div class="mywindow_head">
        <span class="mywindow_title">新建代码</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_add_file">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>文件名称</td>
                        <td>
                            <input type="text" class="minput" placeholder="" name="name" />
                        </td>
                    </tr>
                    <tr>
                        <td>分类[<a id="btn_new_catalog2">新增</a>] </td>
                        <td>
                            <select id="catalog" class="myselect select2" name="catalog_id" placeholder="请选择分类">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>

<!-- Fork代码 -->
<div class="mywindow" id="win_fork_file">
    <div class="mywindow_head">
        <span class="mywindow_title">Fork代码</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_fork_file">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>文件名称</td>
                        <td>
                            <input type="text" class="minput" placeholder="" name="name" />
                        </td>
                    </tr>
                    <tr>
                        <td>分类[<a id="btn_new_catalog2">新增</a>] </td>
                        <td>
                            <select id="fork_catalog" class="myselect select2" name="catalog_id"  placeholder="请选择分类">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>
<!-- 重命名文件 -->
<div class="mywindow" id="win_rename_file">
    <div class="mywindow_head">
        <span class="mywindow_title">重命名</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_rename_file">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>文件名称</td>
                        <td>
                            <input type="text" class="minput" placeholder="" name="name" id="file_new_name"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>
<!-- 更新文件分类 -->
<div class="mywindow" id="win_regroup_file">
    <div class="mywindow_head">
        <span class="mywindow_title">重新分组</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_regroup_file">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>文件名称</td>
                        <td>
                            <input type="text" class="minput" disabled placeholder="" id="file_old_name"/>
                        </td>
                    </tr>
                    <tr>
                        <td>分类</td>
                        <td>
                            <select id="file_new_catalog" class="myselect select2" name="catalog_id"  placeholder="请选择分类">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>
<!-- 重命名分类-->
<div class="mywindow" id="win_rename_catalog">
    <div class="mywindow_head">
        <span class="mywindow_title">重命名</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_rename_catalog">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>分类</td>
                        <td>
                            <input type="text" class="minput" placeholder="" name="name" id="catalog_new_name"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>
<!-- 新建分类 -->
<div class="mywindow" id="win_add_catalog">
    <div class="mywindow_head">
        <span class="mywindow_title">新建分类</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_add_catalog">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>名称</td>
                        <td>
                            <input type="text" class="minput" placeholder="" name="name" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>

<!-- 登陆 -->
<div class="mywindow" id="win_login">
    <div class="mywindow_head">
        <span class="mywindow_title">登陆</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_login">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>用户名</td>
                        <td>
                            <input type="text" class="minput" verify placeholder="" name="username" />
                        </td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td>
                            <input type="password" class="minput" verify placeholder="" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>没有账号？<span id="for_regist">注册</span>一个吧</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>

<!--注册-->
<div class="mywindow" id="win_regist">
    <div class="mywindow_head">
        <span class="mywindow_title">注册</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_regist">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>用户名</td>
                        <td>
                            <input type="text" class="minput w220" placeholder="" verify="_,minlength:5,maxlength:15" verify-msg="{required:'用户名不能为空'}" name="username" />
                        </td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td>
                            <input type="password" class="minput w220" placeholder="" verify="_,minlength:6,maxlength:20" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>确认密码</td>
                        <td>
                            <input type="password" class="minput w220" placeholder="" name="confirm_password" />
                        </td>
                    </tr>
                    <tr>
                        <td>验证码</td>
                        <td>
                            <input type="text" class="minput w100" placeholder="" verify="_" name="check_code" />
                            <image src="/im" class="check_code w100"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确认</span>
    </div>
</div>





<script type="text/html" id="temp_sidebar">
    <ul>
        [[each catalogs as catalog]]
        <li class="sub-menu">
            <a href="javascript:;" data-id="[[catalog.uuid]]" class="menu_parent">
                <span class="iconfont icon-list-right catalog_icon"></span>
                <span class="menu_catalog_name">[[catalog.name]]</span>
                <span class="iconfont icon-shezhi catalog_setting"></span>
                </a>
            <ul class="sub" style="display: none;">
                [[each catalog.files as file]]
                <li>
                    <a data-id="[[file.file_id]]" data-group="[[catalog.uuid]]">
                        <span>[[file.file_name]]</span>
                        <span class="iconfont icon-shezhi file_setting"></span>
                    </a>
                </li>
                [[/each]]
            </ul>
        </li>
        [[/each]]
    </ul>
</script>
<section id="file_menu" class="hidden">
    <ul>
        <li><span id="btn_rename_file">重命名</span></li>
        <li><span id="btn_redo_group">重新分组</span></li>
        <li><span id="btn_fork_file">Fork</span></li>
        <!-- <li><span id="btn_download_file">打包下载</span></li> -->
        <li><span id="btn_delete_file">删除</span></li>
    </ul>
</section>

<section id="catalog_menu" class="hidden">
    <ul>
        <li><span id="btn_rename_catalog">重命名</span></li>
        <li><span id="btn_delete_catalog">删除分类</span></li>
    </ul>
</section>

<section id="new_menu" class="hidden">
    <ul>
        <li><span id="btn_new_catalog">新建分类</span></li>
        <li><span id="btn_new_file">新建代码</span></li>
    </ul>
</section>

<section id="source_menu" class="hidden">
    <div id="source_data"></div>
</section>

<script type="text/html" id="temp_source">
    [[each tags as tag]]
        <dl class="source01">
        <dt class="source01">[[tag.key]]</dt>
        [[each tag.val as plugin]]
        <dd class="source01">
            <dl>
                <dt class="source02">[[plugin.name]]</dt>
                [[each plugin.versions as version]]
                <dd class="source03">
                    <a class="oplugin">[[plugin.name]][[version.version]]</a>
                </dd>   
                [[/each]]
            </dl>
        </dd>
        [[/each]]
        </dl>
    [[/each]]
</script>

<script type="text/html" id="temp_sourcedata">
    [[each plugins as plugin]]
        [[if plugin.type == 'JS']]
        <script src="[[plugin.link]]" type="text/javascript">&lt;/script>
        [[else if plugin.type == 'CSS']]
        <link href="[[plugin.link]]" rel="stylesheet" type="text/css"/>
        [[/if]]
    [[/each]]
</script>


<script type="text/html" id="temp_unlogin_area">
    <div id="unlogin_area">
        <a id="login">
            <i class="iconfont icon-denglu"></i> 登陆
        </a>
        <a id="regist">
            <i class="iconfont icon-zhuce"></i> 注册
        </a>
    </div>
</script>
<script type="text/html" id="temp_login_area">
    <div id="unlogin_area">
        <div id="login_area">
            <a id="welcome">
                <i class="iconfont icon-denglu"></i>
                <span id="login_name">[[user.name || user.username]]</span>
            </a>
            <a id="exit">
                <i class="iconfont icon-tuichu"></i> 退出
            </a>
        </div>
</script>


<script type="text/html" id="temp_file_menu">
</script>

<script type="text/javascript">
    var user = '{{#session | string}}';
    var codeId = '{{codeId}}'
</script>
<script type="text/javascript" src="/js/home/index.js"></script>
