<nav id="nav">
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>用户管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/db" data-page="dashboard">用户列表</a></li>
                <li><a href="/admin/table" data-page="os">权限管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>插件管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/plugin_catalog" data-page="dashboard">插件分类</a></li>
                <li><a href="/admin/plugin" data-page="dashboard">版本管理</a></li>
                <li><a href="/admin/template" data-page="os">新增插件</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>项目管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/project" data-page="dashboard">项目列表</a></li>
            </ul>
        </dd>
    </dl>
</nav>