<?xml version="1.0" encoding="utf-8"?>
<sql id="plugin">
    <insert id="insert">
        insert ignore into
            plugin(
                name,
                catalog,
                uuid,
                version,
                type,
                link
            )
        value(
            {{name | q}},
            {{catalog | q}},
            {{uuid | q}},
            {{version | q}},
            {{type | q}},
            {{link | q}}
        )
    </insert>

    <select id="isUnique">
        select
            count(1)
        from
            plugin
        where
            {{name | eq:'name'}}
            {{id | and:'id','!='}}
    </select>

    <update id="update">
        update
            plugin
        set
            {{name | eq:'name'}},
            {{catalog | eq:'catalog'}},
            {{version | eq:'version'}},
            {{type | eq:'type'}},
            {{link | eq:'link'}}
        where
            {{id | eq:'id'}}
    </update>

    <select id="checkDelete">
        select 
            count(1)
        from    
            plugin
        where
            1 = 0
    </select>

    <delete id="delete" before="checkDelete">
        delete from
            plugin
        where
            {{id | eq:'id'}}
    </delete>

    <select id="pageQuery">
        select
            t1.*,t2.name,t2.tag
        from
            plugin t1
        left join
            plugin_catalog t2
        on 
            t1.catalog = t2.uuid
        where
            1 = 1
            {{name | and:'t1.name'}}
            {{catalog | and:'t1.catalog'}}
            {{uuid | and:'t1.uuid'}}
            {{version | and:'t1.version'}}
            {{type | and:'t1.type'}}
            {{link | and:'t1.link'}}
            {{'t2.tag,t2.name,t1.version,t1.type' | orderBy}}
            {{offset | limit:pageSize}}
    </select>

    <select id="pageCount">
        select
            count(1)
        from
            plugin t1
        where
            1 = 1
            {{name | and:'t1.name'}}
            {{catalog | and:'t1.catalog'}}
            {{uuid | and:'t1.uuid'}}
            {{version | and:'t1.version'}}
            {{type | and:'t1.type'}}
            {{link | and:'t1.link'}}
    </select>

    
    <select id="listAll">
        select
            *
        from
            plugin
    </select>


    <select id="listBy">
        select
            *
        from
            plugin
        where
            1 = 1
    </select>
    
    <select id="listFirstPlugin">
        select
            uuid id,name text
        from
            plugin
        where 
            {{pid | eq:'pid'}}
    </select>
    
    <select id="get">
        select
            *
        from
            plugin
        where
            {{id | eq:'id'}}
    </select>

    <select id="all" child="version" childName="versions" childId="version" key="uuid">
        select
            distinct t1.uuid,t1.tag,t1.name,t2.version
        from
            plugin_catalog t1
        left join
            plugin t2
        on 
            t1.uuid = t2.catalog
        order by
            t1.tag,t1.name,t2.version
    </select>

    <select id="alldata" child="type,link" childName="data" childId="name" key="name">
        select 
            concat(t2.name,t1.version) name,t1.type,t1.link
        from
            plugin t1
        left join
            plugin_catalog t2
        on
            t1.catalog = t2.uuid
        order by
            t2.tag,t2.name,t1.version,t1.type
    </select>


</sql>