<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1460787240_0293655.css" />
    <link rel="stylesheet" href="/lib/select2/select2.min.css" />
    <link rel="stylesheet" href="/lib/select2/mini.normal.css" />
    <link rel="stylesheet" href="/lib/pagination/mypage.css" />
    <link rel="stylesheet" href="/lib/plugin/frame/jquery.window.css" />
    <script src="/lib/require.js"></script>
    <script src="/lib/require_config.js?v=2"></script>
</head>
<body>
    <div id="header">
        <h2 id="logo_title">JsRun</h2>

        <div id="user_info">
            <a href="/exit" id="exit">退出系统</a>
            <a href="/index">首页</a>
            <a>{{session.name}}</a>
        </div>
    </div>
    <div id="containers">
        {{include './nav'}}
        <div id="contents">

